<div class="contenedor" *ngFor="let i of numeros">
  <ng-container  *ngFor="let k of numeros">
    
    <span *ngIf="i==k; else nocruza" class="cruce">"X{{i}}{{k}}"</span>
    <ng-template #nocruza>
      <textarea *ngIf="i==0 || k==0; else marcador" class="caja2" [value]="revisaNombre(i,k)" (input)="(i==0)?luchadores[k-1]=$event.target.value:luchadores[i-1]=$event.target.value"></textarea>
      <ng-template #marcador>
        
        <select class="caja" (change)="resultados[i][k]=$event.target.value; conteo()">
          <option *ngIf="getResultado(i,k)==0; else cero" selected [value]="resultados[i][k]" >N/A</option>
          <ng-template #cero>
            <option value="0" >N/A</option>
          </ng-template>
          <option *ngIf="getResultado(i,k)==1; else uno"  selected [value]="resultados[i][k]" >{{luchadores[i-1]}}</option>
          <ng-template #uno>
            <option value="1" >{{luchadores[i-1]}}</option>
          </ng-template>
          <option *ngIf="getResultado(i,k)==2; else dos" selected [value]="resultados[i][k]" >{{luchadores[k-1]}}</option>
          <ng-template #dos>
            <option value="2" >{{luchadores[k-1]}}</option>
          </ng-template>
        </select>
      </ng-template>
    </ng-template>
    
    
    

  </ng-container>

</div>

<div>
  <input class="numero" [value]="max" (input)="max = $event.target.value">
  <span>numero actual de participantes: {{max}}</span>
  <br/>
  <button (click)="cambio()">cambiar</button>
  <button (click)="prueba()">ver</button>
</div>
<leader-board [luchadores]="luchadores" [puntaje]="puntos" [iter]="numeros"></leader-board>
